




body {
background-color: #e6e2d7;
font-family: "Barriecito", system-ui;
}


.nav-link {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    color: red;
}


.card-footer {
    background-color:#D6CFC7;
}

.card-bottom-text {
    color: black;
}

.card-bottom-text:hover {
    color: red;
}

.book-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}